
.cabecalho {
    background-color: var(--cor-contraste-claro);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 4.75rem;
}

.cabecalho--alternativo {
    border-radius: unset;
    box-shadow: unset;
    border-bottom: 1px solid var(--cor-divisao);
}

.menu-hamburguer {
    width: 1.5rem;
    height: .75rem;
}

.menu-hamburguer--ativo .menu-hamburguer__icone {
    transform: rotate(90deg);
}

.menu-hamburguer__icone {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/menu.svg);
    background-size: contain;
}

.cabecalho__logo {
    width: 3rem;
}

.cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-left: .5rem;
}
