:root {
    --fonte-base: 'Montserrat', sans-serif;
    --fonte-logo: 'Pacifico', cursive;
    --fonte-peso-leve: 300;
    --fonte-peso-regular: 400;
    --fonte-cartao-titulo: 28px;
    --fonte-input-label: 20px; 
    --fonte-tabela-cabecalho: 22px;
    
    --cor-azul-claro: #d6eaff;
    --cor-azul: #55a6ff;
    --cor-de-fonte: #4D4D4D;
    --cor-branca: #fff;
    --cor-vermelha: #ff7b7b;
    --cor-verde: #46bb42;

    --sombra-elemento: 0 5px 10px #55a6ff38;
}
