:root {
    --fonte-base: 'Montserrat', sans-serif;
    --fonte-logo: 'Pacifico', cursive;
    --fonte-peso-leve: 300;
    --fonte-peso-regular: 400;
    
    --cor-de-fundo: #d6eaff;
    --cor-de-fonte: #4D4D4D;
    --cor-branca: #fff;

}