.botao-simples {
    border: none;
    background-color: unset;
}

.botao-simples--adicionar {
    color: var(--cor-azul);
}

.botao-simples--excluir {
    color: var(--cor-vermelha);
}

.botao-simples--editar {
    color: var(--cor-verde);
}
