.cartao {
    background-color: var(--cor-branca);
    border-radius: 10px;
    box-shadow: var(--sombra-elemento);
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
}

.cartao__titulo {
    font-size: var(--fonte-cartao-titulo);
    margin-bottom: 2.25rem;
}
